In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
dataset = pd.read_csv('testdata.csv')

In [6]:
dataset.head()

,user,latitude,longitude,date,day_of_week,hour,categoria,timestamp
0,User_3401,-26.489503,-49.028018,2018-07-08,Saturday,18,bakery,1531604419436
1,User_539,-14.457400,-46.433148,2018-07-08,Sunday,7,restaurant,1531650749377
2,User_789,-8.903859,-36.487485,2018-07-08,Saturday,9,night_club,1531571345816
3,User_2814,-22.823960,-43.012243,2018-07-08,Saturday,22,store,1531619273330
4,User_3432,-24.949576,-53.488507,2018-07-08,Sunday,3,restaurant,1531634482205

<h1>Análise dos Dados</h1>
<p>Inicialmente podemos analisar o dataset buscando valores únicos que podem retornar algum insight.</p>

<h2>Categoria do Local</h2>

In [10]:
dataset['categoria'].value_counts()[:10]

restaurant                5826
store                     3461
school                    1728
doctor                    1203
grocery_or_supermarket    1103
bar                        996
storage                    985
lodging                    897
car_repair                 836
electronics_store          698
Name: categoria, dtype: int64

<p>O dataset possui as coordenadas do local. Um retorno interessante seria definir labels para esses locais. Dessa forma poderíamos saber quantas vezes tal local foi visitado, quais usuários visitaram o mesmo, etc.</p>

In [88]:
'''
    # Método para normalizar as coordenadas de um lugar
    # lat = 3.122231 lon = 5.522231 com precisão .2f normalizará para lat = 3.12 e lon 3.52
    # A partir do ajuste da precisão podemos definir locais próximos e, dessa forma, identificar,
    # por exemplo, aglomerado de lojas de um certo tipo
'''
def normalizeCoordinates(coordinates:pd.DataFrame, precision:int = 6):
    precision_str = '%.'+str(precision)+'f'
    float_str = lambda x : precision_str%x
    return coordinates.applymap(float_str)

In [89]:
normalizeCoordinates(coordinate_places, precision=5)

NameError: name 'precisao' is not defined